
<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Units In Inventory</th>
                <th scope="col">Units Sold Last 90 Days</th>
                <th scope="col">Desired Month Supply</th>
                <th scope="col">Inventory Position</th>
            </tr>
            <tbody>
                
{{#each results}}
            <tr>
                <td>{{make}}</td>
                <td><a href="#">{{_id}}</a></td>
                <td>{{num_products}}</td>
                <td>{{sold}}</td>
                <td>{{subtraction sold}}</td>
                <td>{{inventoryPosition num_products sold}}</td>
            </tr>
    <!--<div class="card card-body mb-2">

        <h4>{{make}} {{_id}} {{num_products}}</h4>
        
    </div>-->

{{else}}
    <p>No Inventory To Display.</p>
{{/each}}
                
            </tbody>
        </thead>
    </table>